body{
    background-color: black;
}
.container{
    display: flex;
    gap: 50px 50px;
    height: 650px;
    background-color: red;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}