/* Reset básico */
body, h2, label, input, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do formulário */
.formulario {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 3px 2px 15px rgb(255, 0, 0);
    width: 100%;
    max-width: 400px;
}
form{
    padding-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botões */
form input[type="submit"],
form input[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
}

form input[type="reset"] {
    background-color: #dc3545;
    color: #fff;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

form input[type="reset"]:hover {
    background-color: #c82333;
}

/* Resultado */
#resultado {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Mensagens de erro ou sucesso */

.resultado{
    text-shadow:0px 2px 2px #000000;
    color: green;
    padding: 20px;
    border: 5px #28a745 solid;
    box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;    
}